@import '../../../app.component.scss';
.filters {
    display: flex;
    width: 100%;
    height: 110px;
    &__inputs {
        width: 754px;
        height: 66px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &_item {
            display: flex;
            align-items: flex-end;
            & mat-form-field {
                width: 166px;
                height: 66px;
                padding: 0;
                & mat-label {
                    @include body;
                    letter-spacing: 0.5px;
                    color: $color-lightTheme_Secondary;
                }
                & input,
                & mat-select {
                    @include body;
                    color: $color-lightTheme_Primary;
                }
            }
            &__search {
                &-icon {
                    width: 18px !important;
                    height: 18px !important;
                    color: $color-lightTheme_Placeholder;
                }
                &-label.ng-tns-c30-0.ng-star-inserted {
                    box-sizing: border-box;
                    padding-left: 16px !important;
                }
            }
        }
    }
}