::ng-deep .mat-select-arrow {
    border: none !important;
}

.mat-form-field-prefix {
    width: 18px !important;
    height: 18px !important;
    color: $color-lightTheme_Placeholder;
}

.mat-form-field-appearance-legacy .mat-form-field-prefix .mat-icon-button .mat-icon,
.mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon-button .mat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px !important;
    margin-left: 1px !important;
    width: 18px !important;
    height: 18px !important;
    box-sizing: border-box;
}

.mat-form-field-flex {
    align-items: flex-end !important;
    height: 48px !important;
    border-bottom: 1px solid $color_primary-LinesGray;
}

.mat-form-field-infix.ng-tns-c30-0 input {
    padding-left: 14px !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    display: none !important;
}

.mat-form-field-appearance-legacy .mat-form-field-prefix .mat-icon-button .mat-icon,
.mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon-button .mat-icon {
    color: $color-lightTheme_Primary;
}

.mat-form-field-prefix .mat-icon,
.mat-form-field-suffix .mat-icon {
    line-height: 8px !important;
    margin-bottom: 6px !important;
}

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
    align-items: center;
    display: flex;
    height: 22px;
}