@font-face {
    font-family: "Montserrat-Medium";
    src: url('../../assets/fonts/Montserrat-Medium.woff2'), url('../../assets/fonts/Montserrat-Medium.woff'), url('../../assets/fonts/Montserrat-Medium.ttf'), url('../../assets/fonts/Montserrat-Medium.eot');
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url('../../assets/fonts/Montserrat-Bold.woff2'), url('../../assets/fonts/Montserrat-Bold.woff'), url('../../assets/fonts/Montserrat-Bold.ttf'), url('../../assets/fonts/Montserrat-Bold.eot');
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url('../../assets/fonts/Montserrat-SemiBold.woff2'), url('../../assets/fonts/Montserrat-SemiBold.woff'), url('../../assets/fonts/Montserrat-SemiBold.ttf'), url('../../assets/fonts/Montserrat-SemiBold.eot');
}