$color-white: #fff;
$color-blue: #1071FF;
$color-lightTheme_Secondary: rgba(0, 0, 0, 0.54);
$color-black: #000;
$color-lightBlue: #F6FAFF;
$color-lightDarkBlue: #C9DFFF;
$color-lightTheDarkestBlue: #B9D5FF;
$color-lightGrey: #EDEDED;
$color-lightDarkGrey: #E4E4E4;
$color-lightTheDarkestGrey: #DCDCDC;