@import '../../../../app.component.scss';
.slot {
    @include body;
    display: flex;
    align-items: center;
    width: 1146px;
    height: 44px;
    box-sizing: border-box;
    border-radius: 4px;
    &_active {
        cursor: pointer;
        &:hover {
            background-color: $color-lightGrey;
        }
    }
    &_inactive {
        color: $color-lightTheme_Placeholder;
    }
    &_date-and-time {
        display: flex;
        align-items: center;
        width: 86px;
        height: 36px;
        margin-right: 24px;
    }
    &_name {
        display: flex;
        align-items: center;
        width: 546px;
        height: 36px;
        justify-content: flex-start;
        margin-right: 30px;
    }
    &_number-of-participants {
        display: flex;
        align-items: center;
        width: 104px;
        height: 36px;
        margin-right: 32px;
    }
    &_trainer {
        display: flex;
        align-items: center;
        width: 100px;
        height: 36px;
        margin-right: 32px;
    }
    &_progress {
        display: flex;
        align-items: center;
        width: 87px;
        height: 36px;
        & span {
            color: $color-lightTheme_Secondary;
            margin-left: 4px;
        }
        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            & svg {
                height: 13.2px;
                width: 13.3px;
                fill: $color-lightTheme_Secondary;
            }
        }
    }
}