<div class="slot  {{ slot.status }}">
    <p class="slot_date-and-time">
        {{ slot.date }}
    </p>
    <p class="slot_name">
        {{ slot.name }}
    </p>
    <p class="slot_number-of-participants">
        {{ slot.number }}
    </p>
    <p class="slot_trainer">
        {{ slot.trainer }}
    </p>
    <div class="slot_progress">
        <i class="slot_progress__icon">
          <svg>
            <use xlink:href="../../assets/icons/sprite.svg#progress-icon"></use>
          </svg>
        </i>
        <span>{{ slot.progress }}</span>
    </div>
    <app-menu></app-menu>
</div>