<div class="slot">
    <p class="slot_date-and-time">
        23 дек, 9:00
    </p>
    <p class="slot_name">
        Страхование с заботой о клиенте
    </p>
    <p class="slot_number-of-participants">
        12
    </p>
    <p class="slot_trainer">

    </p>
    <div class="slot_progress">
        <i class="slot_progress__icon">
          <svg>
            <use xlink:href="../../assets/icons/sprite.svg#progress-icon"></use>
          </svg>
        </i>
        <span>95 %</span>
    </div>
    <app-menu></app-menu>
</div>