<header class="header">
    <nav class="header_scroll">
        <button class="header_scroll__burger">
            <svg>
            <use xlink:href="../../assets/icons/sprite.svg#burger-icon"></use>
          </svg>
        </button>
        <button class="header_scroll__planning">
            <div class="header_scroll__planning_add-icon">
                <svg>
                  <use xlink:href="../../assets/icons/sprite.svg#add-icon"></use>
                </svg>
              </div>
            <span class="header_scroll__planning_schedule">
              Запланировать
            </span>
        </button>
    </nav>
    <div class="header_section">
        <p class="header_section__subtitle">
            Главная &nbsp;&nbsp;— &nbsp;&nbsp;Планирование
        </p>
        <div class="header_section__name-of-section">
            <i class="header_section__name-of-section_icon">
                <svg>
                  <use xlink:href="../../assets/icons/sprite.svg#planning-icon"></use>
                </svg>
            </i>
            <h2 class="header_section__name-of-section_text">
                Планирование
            </h2>
        </div>

    </div>
</header>